{% extends "recipesharing/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Dashboard</h1>
{% with total_recipeimages_created=request.user.recipeimages_created.count %}
<p>Welcome to your dashboard. You have bookmarked {{ total_recipeimages_created }}
    image{{ total_recipeimages_created|pluralize }}.</p>
{% endwith %}
<p>Drag the following button to your bookmarks toolbar to bookmark images from other websites → <a
        href="javascript:{% include 'recipebookmarklet_launcher.js' %}" class="button">Bookmark it</a></p>
{% endblock %}