{% load recipe_tags %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/recipesharing.css' %}" rel="stylesheet">
</head>

<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>My Recipes</h2>
        <p>These are my recipes I want to share with you. I've created {% total_recipes %} recipes so far.</p>
        <p>
            <a href="{% url 'recipesharing:recipe_feed' %}">
                Subscribe to my RSS feed
            </a>

        </p>
        <h3>Latest recipes</h3>
        {% show_latest_recipes %}
        <h3>Most commented recipes</h3>
        {% get_most_commented_recipes as most_commented_recipes %}
        <ul>
            {% for recipe in most_commented_recipes %}
            <li>
                <a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% with total_recipeimages_created=request.user.recipeimages_created.count %}
        <p>You have bookmarked {{ total_recipeimages_created }} image{{ total_recipeimages_created|pluralize }}.</p>
        {% endwith %}
        <p>Drag the following button to your bookmarks toolbar to bookmark images from other websites → <a
                href="javascript:{% include 'recipebookmarklet_launcher.js' %}" class="button">Recipes Bookmark</a></p>
    </div>
</body>

</html>