{% load recipe_tags %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/recipesharing.css' %}" rel="stylesheet">
</head>

<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <span class="user">
            {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name|default:request.user.username }},
            <form action="{% url 'recipelogout' %}" method="post">
                <button type="submit">Logout</button>
                {% csrf_token %}
            </form>
            {% else %}
            <a href="{% url 'recipelogin' %}">Log-in</a>
            {% endif %}
        </span>

        {% if request.user.is_authenticated %}
        <ul class="menu">
            {% if section == "dashboard" %}
            <li class="selected">
            </li>
            {% endif %}
            <a href="{% url 'recipedashboard' %}">My dashboard</a>
            {% if section == "images" %}
            <li class="selected">
            </li>
            {% endif %}
            <a href="{% url 'recipeimages:list' %}">Images</a>
            {% if section == "Recipes" %}
            <li class="selected">
            </li>
            {% endif %}
            <a href="{% url 'recipesharing:recipe_list' %}">Recipes</a>
        </ul>
        {% endif %}
        <h2>My Recipes</h2>
        <p>These are my recipes I want to share with you. I've created {% total_recipes %} recipes so far.</p>
        <p>
            <a href="{% url 'recipesharing:recipe_feed' %}">
                Subscribe to my RSS feed
            </a>

        </p>
        <h3>Latest recipes</h3>
        {% show_latest_recipes %}
        <h3>Most commented recipes</h3>
        {% get_most_commented_recipes as most_commented_recipes %}
        <ul>
            {% for recipe in most_commented_recipes %}
            <li>
                <a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a>
            </li>
            {% endfor %}
    </div>
</body>

</html>