{% extends "recipesharing/base.html" %}
{% load recipe_tags %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<h1>{{ recipe.title }}</h1>
<p class="date">
    Published {{ recipe.publish }} by {{ recipe.author }}
</p>
{{ recipe.body|markdown }}
<p>
    <a href="{% url 'recipesharing:recipe_share' recipe.id %}">
        Share this recipe
    </a>
</p>

{% if section == "shop" %}
<li class="selected">
</li>
{% endif %}
<a href="{% url 'recipeshop:product_list' %}">Checkout My Recipe Books</a>

<h2>Similar recipes</h2>
{% for recipe in similar_recipes %}
<p>
    <a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a>
</p>
{% empty %}
There are no similar recipes yet.
{% endfor %}

{% load thumbnail %}
<h2>Similar images</h2>
{% comment %}{{ len(similar_images) }}{% endcomment %}
{% for recipeimage in similar_images %}
<p>
    <a href="{{ recipeimage.recipeimage.url }}">
        <img src="{% thumbnail recipeimage.recipeimage 300x0 %}" class="recipeimage-detail">
    </a>
</p>
{% empty %}
There are no similar images yet.
{% endfor %}

{% with comments.count as total_comments %}
<h2>
    {{ total_comments }} comment{{ total_comments|pluralize }}
</h2>
{% endwith %}
{% for comment in comments %}
<div class="comment">
    <p class="info">
        Comment {{ forloop.counter }} by {{ comment.name }}
        {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
</div>
{% empty %}
<p>There are no comments yet.</p>
{% endfor %}

{% with reviews.count as total_reviews %}
<h2>
    {{ total_reviews }} review{{ total_reviews|pluralize }}
</h2>
{% endwith %}
{% for review in reviews %}
<div class="review">
    <p class="info">
        Review {{ forloop.counter }} by {{ review.name }}
        {{ review.created }}
    </p>
    {{ review.body|linebreaks }}
</div>
{% empty %}
<p>There are no reviews yet.</p>
{% endfor %}

{% include 'recipesharing/recipe/includes/comment_form.html' %}

{% include "recipesharing/recipe/includes/review_form.html" %}

{% endblock %}